<!DOCTYPE html>
<!-- ng-app normalmente utilizado aqui -->
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Importação do AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="controlador">
    <h1>Olá {{ nome }}</h1>
    <!-- ng-bind consegue usar expressões: 2 + 3 -->
    <!-- exemplo de ng-model -->
    <input type="text" ng-model="nome" placeholder="Enter a name here">
    <br>
    <br>
    <h1>Contador</h1>
    <h1>{{ contador }}</h1>
    <!-- exemplo de ng-click -->
    <button ng-click="contador = contador + 1">ADD + 1</button>
    <button ng-click="contador = contador - 1">SUB - 1</button>
</body>
</html>